body {
  background-color: powderblue;
  font-family: "Gills Sans", sans-serif;
}
h1 {
  color: blue;
  font-family: "Gills Sans", sans-serif;
}
p {
  color: red;
  font-family: "Gills Sans", sans-serif;
}
.overall {
  border: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-family: 'Nunito', 'Verdana', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
  text-decoration: none;
}
.button {
  border: 2px solid rgb(100,100,100);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: crosshair;
  border-radius: 12px;
  font-family: 'Nunito', 'Verdana', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(180,180,180);
  transition-duration: 0.5s;
}
.button:hover {
  background-color: rgb(200,200,200); 
}